<div class="main-container">
    <div class="fixer-container">
        <div ng-if="!isApiKeySet">You Riot Api key is not set. Pls set it in your<a href="#/userConfig"> profile</a>.
        </div>
        <div ng-if="isApiKeySet">
            <form role="form" ng-submit="compare()">
                <div class="form-group pick-comparer-fields">
                    <label class="hdr-league" for="name">With who do you want to compare?</label> <input type="text"
                                                                                                         class="form-control"
                                                                                                         id="name"
                                                                                                         name="summoner"
                                                                                                         ng-model="summoner.name"/>
                </div>
                <button class="btn btn-league pick-comparer-button" type="submit">Compare</button>
            </form>
        </div>
        <div>
            <div ng-repeat="comparee in comparees" class="comparers-table">
                <div ng-click="comparee.isVisible = !(comparee.isVisible)" class="comparers-table-name">
                    {{comparee.data.name}}
                </div>
                <div ng-show="comparee.isVisible">
                    <table class="table table-striped table-league">
                        <tbody>
                        <tr>
                            <td><img src="chest.jpg" alt="Gold" style="width:25px;height:25px;"></td>
                            <td>Gold Earned</td>
                            <td>{{comparee.stats.goldEarned}}</td>
                        </tr>
                        <tr>
                            <td><img src="tower.png" alt="Tower" style="width:25px;height:25px;"></td>
                            <td>Turrets Killed</td>
                            <td>{{comparee.stats.turretsKilled}}</td>
                        </tr>
                        <tr>
                            <td><img src="skull.png" alt="Kills" style="width:25px;height:25px;"></td>
                            <td>Minions Killed</td>
                            <td>{{comparee.stats.minionsKilled}}</td>
                        </tr>
                        <tr>
                            <td><img src="help.png" alt="Assists" style="width:25px;height:25px;"></td>
                            <td>Assists</td>
                            <td>{{comparee.stats.assists}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>