<!doctype html>
<html>
<head>
    <title>League of Comparers</title>
    <style type="text/css">
        [ng\:cloak], [ng-cloak], .ng-cloak {
            display: none !important;
        }
    </style>
</head>

<body ng-app="leagueOfComperors" ng-cloak class="ng-cloak">
<div growl limit-messages="4"></div>
<nav ng-controller="main as main" class="container navbar nav-league" style="background-color: #e3f2fd;" ng-show="authenticated">
    <ul class="nav navbar-nav navbar-left">
        <li class="active"><a href="#/home">Home</a></li>
        <li><a href="" ng-click="main.goToComparison()">Compare</a></li>
    </ul>
    <ul class="nav navbar-nav app-title">League of Comperors</ul>
    <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
            <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{userName}} <span class="caret"></span></a>
            <ul class="dropdown-menu">
                <li><a href="" ng-click="main.logout()">Logout</a></li>
                <li><a href="" ng-click="main.goToUser()">My Profile</a></li>
            </ul>
        </li>
    </ul>
</nav>

<div ng-view class="container"></div>
<script src="js/angular-bootstrap.js" type="text/javascript"></script>
<script src="js/main.js"></script>
<link href="css/angular-bootstrap.css" rel="stylesheet">
<script>
    $(document).ready(function () {
        $('.dropdown-toggle').dropdown();
    });
</script>
</body>
</html>