<div class="row">
    <h1 class="page-header">
        Register
    </h1>
    <form ng-submit="controller.register()">
        <div class="form-group">
            <label>Username:</label>
            <input type="text" ng-model="controller.credentials.username" class="form-control" />
        </div>
        <div class="form-group">
            <label>Password:</label>
            <input type="password" ng-model="controller.credentials.password" class="form-control" />
        </div>
        <div class="form-group">
            <label>Summoner Name:</label>
            <input type="text" ng-model="controller.credentials.summoner.name" class="form-control" />
        </div>
        <button class="btn btn-success" type="submit">Summon</button>
        <h1>League of Comperors</h1>
    </form>
</div>
