//body{
//  zoom: 150%;
//}

.home-hello{
  text-align: center;
}

.main-container {
  float: left;
  position: relative;
  left: 50%;
}
.fixer-container {
  float: left;
  position: relative;
  left: -50%;
}

.login-header{
  margin-left: -40px;
  margin-right: -40px;
  padding-top: 50px;
  padding-bottom: 50px;
  font-size: 150%;
}

.comparers-table{
  display: inline-table;
  margin: 10px
}

.comparers-table-name{
  border:1px gold solid;
  background: gold;
  border-radius: 40%;
  text-align: center;
  min-width: 300px;
  cursor: pointer;
  margin-bottom: 10px;
}

.pick-comparer-fields{
  display: inline-block;
  width: 85%;
  text-align: center;
}

.pick-comparer-button{
  display: inline-block;
}