body {
  //zoom: 150%;
  background: black;
}

.hdr-league {
  color: #cfba6b;
}

.text-league {
  color: #FFF;
}

.home-hello {
  text-align: center;
}

.link-league {
  color: #baa27c;
  text-decoration: none;
}

.link-league:hover {
  color: #ecc280
}

.main-container {
  float: left;
  position: relative;
  left: 50%;
}

.fixer-container {
  float: left;
  position: relative;
  left: -50%;
}

.login-header {
  margin-left: -40px;
  margin-right: -40px;
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
}

.hdr-input {
  color: #e4ddc2;
}

.comparers-table {
  display: inline-table;
  margin: 10px
}

.comparers-table-name {
  border: 1px gold solid;
  background: gold;
  border-radius: 40%;
  text-align: center;
  min-width: 300px;
  cursor: pointer;
  margin-bottom: 10px;
  font-size: 150%;
}

.pick-comparer-fields {
  display: inline-block;
  width: 85%;
  text-align: center;
}

.pick-comparer-button {
  display: inline-block;
}

.btn-league {
  background: #BF6904 linear-gradient(#db8e01, #871e0a);
  box-shadow: inset 1px 1px 9px rgba(135, 30, 10, .8),inset -1px -1px 5px rgba(181, 60, 2, .8);
  color: #fff;
}

.btn-league:hover {
  background: #D27905 linear-gradient(#f3a502, #90210c);
  box-shadow: inset 1px 1px 9px rgba(135, 30, 10, .8),inset -1px -1px 5px rgba(181, 60, 2, .8);
  color: #fff
}

.nav-league {
  border-top: inherit;
  border-left: inherit;
  border-right: inherit;
  border-bottom: 1px solid #0C2830;
  width: 100%;
  background-color: black !important;

  a {
    color: #cfba6b;
    background: black !important;
  }

  a:hover {
    color: #fff8de;
    background: black !important;
  }

  .open {
    a {
      background-color: inherit;
    }
  }

  .dropdown-menu {
    background-color: black;
    border: 1px solid #756528;
  }

  .dropdown-menu {
    a {
      color: #cfba6b;
    }

    a:hover {
      color: #fff8de;
      background: black;
    }
  }

  .app-title {
    color: #FFC972;
    font-size: 200%;
    width: 82%;
    text-align: center;
    padding-top: 5px;
  }
}

.scroll-bg {
  width: 1200px;
  height: 700px;
  position: absolute;
  z-index: -1;
  margin-left: -470px;
}

.trist-pict {
  width: 350px;
  position: absolute;
  margin-left: -340px;
  margin-top: 150px;
}

.ekko-pict {
  width: 300px;
  position: absolute;
  margin-left: 250px;
  margin-top: 150px;
}

.stats-view {
  margin-top: 150px;

  .hdr-view {
    margin-bottom: 20px;
    width: 100%;
    text-align: center;
    font-size: 200%;
  }
}

.table-league {
  td {
    background-color: #fff;
  }
}

